<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BiaoPan.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2B8FC7D11E6656020046597A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2B8FC7EA1E6656030046597A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2B8FC7F51E6656030046597A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
